<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/reset.css" />
    <link rel="stylesheet" href="../public/css/styleCongno.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
    <script src="../public/js/mainCongno.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="../public/favicon/favDebts/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="../public/favicon/favDebts/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../public/favicon/favDebts/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="../public/favicon/favDebts/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../public/favicon/favDebts/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="../public/favicon/favDebts/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../public/favicon/favDebts/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="../public/favicon/favDebts/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../public/favicon/favDebts/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="../public/favicon/favDebts/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../public/favicon/favDebts/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="../public/favicon/favDebts/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/favDebts/favicon-16x16.png" />
    <link rel="manifest" href="../public/favicon/favDebts/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="../public/favicon/favDebts/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <title>Theo dõi Công Nợ</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <ul class="navbarlist">
          <li>
            <a href="../../index.html"><i class="fa-solid fa-caret-left"></i> Trang Chủ</a>
          </li>
          <li><a href="../views/phieuchuyen.html">Phiếu Chuyến</a></li>
          <li><a href="../views/thuchi.html">Thu Chi</a></li>
        </ul>
      </nav>
    </header>

    <h2>THEO DÕI CÔNG NỢ</h2>

    <div class="input-row">
      <div class="input-group">
        <label for="dateInput">Ngày:</label>
        <input type="date" id="dateInput" step="1" />
      </div>

      <div class="input-group">
        <label for="noiDungInput">Nội dung:</label>
        <input type="text" id="noiDungInput" />
      </div>

      <div class="input-group">
        <label for="transTypeInput">Loại giao dịch:</label>
        <select id="transTypeInput">
          <option value="NỢ">NỢ</option>
          <option value="ĐÃ THANH TOÁN">ĐÃ THANH TOÁN</option>
        </select>
      </div>

      <div class="input-group">
        <label for="amoutInput">Số tiền:</label>
        <input type="number" id="amoutInput" step="10000" min="0" />
      </div>

      <div class="input-group">
        <label for="ghiChuInput">Ghi chú:</label>
        <input type="text" id="ghiChuInput" />
      </div>

      <div class="button-group">
        <button class="add-btn" onclick="addRow()">Thêm</button>
        <button class="clear-button" onclick="clearInputs()">Đặt lại</button>
        <button class="export-btn" onclick="exportCongNo()">Xuất Excel</button>
      </div>
    </div>

    <div class="containertransDebtTable">
      <table class="table_common transDebtTable" id="transDebtTable">
        <thead>
          <tr>
            <th>Ngày</th>
            <th>Nội dung</th>
            <th>Loại giao dịch</th>
            <th>Số tiền</th>
            <th>Ghi chú</th>
            <th>Xóa</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </body>
</html>
