<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/reset.css" />
    <link rel="stylesheet" href="../public/styleThuchi.css" />
    <link rel="stylesheet" href="../public/styleCongno.css" />
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
    <script src="../public/mainCongno.js"></script>
    <title>Theo dõi Công nợ</title>
  </head>
  <body>
    <header class="thuchi-header">
      <nav>
        <ul class="thuchi__navbar">
          <li><a href="../../index.html">Về trang chủ</a></li>
          <li><a href="../views/phieuchuyen.html">Phiếu chuyến</a></li>
          <li><a href="../views/thuchi.html">Thu chi</a></li>
        </ul>
      </nav>
    </header>

    <h2>THEO DÕI CÔNG NỢ</h2>

    <div class="input-row">
      <div class="input-group">
        <label for="dateInput">Ngày:</label>
        <input type="date" id="dateInput" />
      </div>

      <div class="input-group">
        <label for="noiDungInput">Nội dung:</label>
        <input type="text" id="noiDungInput" />
      </div>

      <div class="input-group">
        <label for="transTypeInput">Loại giao dịch:</label>
        <select id="transTypeInput">
          <option value="NỢ">NỢ</option>
          <option value="ĐÃ THANH TOÁN">ĐÃ THANH TOÁN</option>
        </select>
      </div>

      <div class="input-group">
        <label for="amoutInput">Số tiền:</label>
        <input type="number" id="amoutInput" step="1000" />
      </div>

      <div class="input-group">
        <label for="ghiChuInput">Ghi chú:</label>
        <input type="text" id="ghiChuInput" />
      </div>

      <div class="button-group">
        <button onclick="addRow()">Thêm</button>
        <button onclick="clearInputs()">Đặt lại</button>
        <button onclick="exportToExcel()">Xuất Excel</button>
      </div>
    </div>

    <div class="containertransDebtTable">
      <table class="transDebtTable" id="transDebtTable">
        <thead>
          <tr>
            <th>Ngày</th>
            <th>Nội dung</th>
            <th>Loại giao dịch</th>
            <th>Số tiền</th>
            <th>Ghi chú</th>
            <th>Xóa</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </body>
</html>
