<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/reset.css" />
    <link rel="stylesheet" href="../public/css/stylePhieuchuyen.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
    <script src="../public/js/mainPhieuchuyen.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="../public/favicon/favTrips/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="../public/favicon/favTrips/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../public/favicon/favTrips/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="../public/favicon/favTrips/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../public/favicon/favTrips/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="../public/favicon/favTrips/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../public/favicon/favTrips/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="../public/favicon/favTrips/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../public/favicon/favTrips/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="../public/favicon/favTrips/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../public/favicon/favTrips/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="../public/favicon/favTrips/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/favTrips/favicon-16x16.png" />
    <link rel="manifest" href="../public/favicon/favTrips/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="../public/favicon/favTrips/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <title>Theo dõi Phiếu Chuyến</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <ul class="navbarlist">
          <li>
            <a href="../../index.html"><i class="fa-solid fa-caret-left"></i> Trang Chủ</a>
          </li>
          <li><a href="../views/congno.html">Công Nợ</a></li>
          <li><a href="../views/thuchi.html">Thu Chi</a></li>
        </ul>
      </nav>
    </header>

    <h2>THEO DÕI PHIẾU CHUYẾN</h2>

    <div class="input-row" id="formRow">
      <div class="input-group">
        <label for="dateInput">Ngày:</label>
        <input type="date" id="dateInput" step="1" />
      </div>

      <div class="input-group">
        <label for="soChuyenInput">Tổng số chuyến:</label>
        <input type="number" id="soChuyenInput" min="0" />
      </div>

      <div class="input-group">
        <label for="congTyInput">Công ty:</label>
        <input type="text" id="congTyInput" value="Đồng Thuận Hà" />
      </div>

      <div class="input-group">
        <label for="cungDuongInput">Cung đường:</label>
        <input type="text" id="cungDuongInput" value="30km" min="0" />
      </div>

      <div class="input-group">
        <label for="soKhoiInput">Số khối:</label>
        <input type="number" id="soKhoiInput" step="0.1" value="29.4" min="0" />
      </div>

      <div class="input-group">
        <label for="donGiaInput">Đơn giá:</label>
        <input type="number" id="donGiaInput" step="1000" value="70000" min="0" />
      </div>

      <div class="input-group">
        <label for="tinhTrangInput">Tình trạng:</label>
        <select id="tinhTrangInput">
          <option value="NỢ">NỢ</option>
          <option value="ĐÃ THANH TOÁN">ĐÃ THANH TOÁN</option>
        </select>
      </div>

      <div class="input-group" id="paidAmountContainer"></div>

      <div class="input-group">
        <label for="ghiChuInput">Ghi chú:</label>
        <input type="text" id="ghiChuInput" />
      </div>

      <div class="button-group">
        <button class="add-btn" onclick="addRow()">Thêm</button>
        <button class="clear-button" onclick="clearInputs()">Đặt lại</button>
        <button class="export-btn" onclick="exportPhieuChuyen()">Xuất Excel</button>
      </div>
    </div>

    <div class="containerTable">
      <table class="table_common transTable" id="transTable">
        <thead>
          <tr>
            <th>Ngày</th>
            <th>Tổng Chuyến</th>
            <th>Công ty</th>
            <th>Cung đường</th>
            <th>Số khối</th>
            <th>Đơn giá</th>
            <th>Số tiền</th>
            <th>Tình trạng</th>
            <th>Ghi chú</th>
            <th>Xóa</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </body>
</html>
