<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/reset.css" />
    <link rel="stylesheet" href="../public/stylePhieuchuyen.css" />
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
    <title>Phiếu Chuyến</title>
  </head>
  <body>
    <header class="thuchi-header">
      <nav>
        <ul class="thuchi__navbar">
          <li><a href="../../index.html">Về trang chủ</a></li>
          <li><a href="">Công nợ</a></li>
          <li><a href="../views/thuchi.html">Theo dõi thu chi</a></li>
        </ul>
      </nav>
    </header>

    <h2>PHIẾU CHUYẾN</h2>

    <div class="input-row">
      <div class="input-group">
        <label for="dateInput">Ngày:</label>
        <input type="date" id="dateInput" />
      </div>

      <div class="input-group">
        <label for="soChuyenInput">Tổng số chuyến:</label>
        <input type="number" id="soChuyenInput" />
      </div>

      <div class="input-group">
        <label for="congTyInput">Công ty:</label>
        <input type="text" id="congTyInput" />
      </div>

      <div class="input-group">
        <label for="cungDuongInput">Cung đường:</label>
        <input type="text" id="cungDuongInput" />
      </div>

      <div class="input-group">
        <label for="soKhoiInput">Số khối:</label>
        <input type="number" id="soKhoiInput" step="0.01" />
      </div>

      <div class="input-group">
        <label for="donGiaInput">Đơn giá:</label>
        <input type="number" id="donGiaInput" step="1000" />
      </div>

      <div class="input-group">
        <label for="tinhTrangInput">Tình trạng:</label>
        <select id="tinhTrangInput">
          <option value="NỢ">NỢ</option>
          <option value="ĐÃ THANH TOÁN">ĐÃ THANH TOÁN</option>
        </select>
      </div>

      <div class="input-group">
        <label for="ghiChuInput">Ghi chú:</label>
        <input type="text" id="ghiChuInput" />
      </div>

      <div class="button-group">
        <button onclick="addRow()">Thêm</button>
        <button onclick="clearInputs()">Đặt lại</button>
        <button onclick="exportToExcel()">Xuất Excel</button>
      </div>
    </div>

    <table class="transTable" id="transTable">
      <thead>
        <tr>
          <th>Ngày</th>
          <th>Tổng Chuyến</th>
          <th>Công ty</th>
          <th>Cung đường</th>
          <th>Số khối</th>
          <th>Đơn giá</th>
          <th>Số tiền</th>
          <th>Tình trạng</th>
          <th>Ghi chú</th>
          <th>Xóa</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
  <script src="../public/mainPhieuchuyen.js"></script>
</html>
