<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/reset.css" />
    <link rel="stylesheet" href="../public/css/styleThuchi.css" />
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="../public/favicon/favThuchi/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="../public/favicon/favThuchi/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../public/favicon/favThuchi/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="../public/favicon/favThuchi/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../public/favicon/favThuchi/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="../public/favicon/favThuchi/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../public/favicon/favThuchi/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="../public/favicon/favThuchi/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../public/favicon/favThuchi/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="../public/favicon/favThuchi/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../public/favicon/favThuchi/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="../public/favicon/favThuchi/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon/favThuchi/favicon-16x16.png" />
    <link rel="manifest" href="../public/favicon/favThuchi/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="../public/favicon/favThuchi/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <script src="../public/js/mainThuchi.js"></script>
    <title>Theo dõi Thu Chi</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <ul class="navbarlist">
          <li><a href="../../index.html">Về trang chủ</a></li>
          <li><a href="./phieuchuyen.html">Phiếu chuyến</a></li>
          <li><a href="../views/congno.html">Công nợ</a></li>
        </ul>
      </nav>
    </header>

    <main class="thuchi-main">
      <h2>THEO DÕI THU CHI</h2>

      <div class="input-row">
        <div class="input-group">
          <label for="dateInput">Ngày:</label>
          <input type="date" id="dateInput" lang="vi" />
        </div>

        <div class="input-group">
          <label for="nameInput">Người nộp:</label>
          <select id="nameInput">
            <option value="Em Đại">Em Đại</option>
            <option value="Chị Thiện">Chị Thiện</option>
            <option value="Phượng">Phượng</option>
          </select>
        </div>

        <div class="input-group">
          <label for="typeInput">Giao dịch:</label>
          <input type="text" id="typeInput" />
        </div>

        <div class="input-group">
          <label for="amountInput">Số tiền:</label>
          <input type="number" id="amountInput" />
        </div>

        <div class="input-group">
          <label for="categoryInput">Loại:</label>
          <select id="categoryInput">
            <option value="Chi">Chi</option>
            <option value="Thu">Thu</option>
          </select>
        </div>

        <div class="button-group">
          <button onclick="addRow()">Thêm</button>
          <button class="clear-button" onclick="clearInputs()">Đặt lại</button>
          <button onclick="exportToExcel()">Xuất Excel</button>
        </div>
      </div>

      <table class="startingBalanceTable">
        <colgroup>
          <col style="width: 55%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 20%" />
          <col style="width: 5%" />
        </colgroup>
        <tr class="start-row">
          <td colspan="3">
            <div class="input__startingBalance">
              <label for="startingBalanceInput">Nhập tồn đầu:</label>
              <input id="startingBalanceInput" type="text" />
              <button onclick="inputStartingBalance()">Nhập</button>
              <p>Tồn Đầu</p>
            </div>
          </td>
          <td class="currency" id="startingBalance">0</td>
          <td><button style="background-color: #0077b6" onclick="deleteStartingBalance()">Xóa</button></td>
        </tr>
      </table>

      <table class="transactionTable" id="transactionTable">
        <thead>
          <tr>
            <th>Ngày</th>
            <th>Người nộp</th>
            <th>Giao dịch</th>
            <th>Số tiền</th>
            <th>Thu/Chi</th>
            <th>Số dư</th>
            <th>Xóa</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </main>
  </body>
</html>
