:root {
  --color-blue: #0077b6;
  --color-pink: #d63384;
  --shadow-color: #0000001a;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Css riêng */

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(to right, #e0f7fa, #fff0f6);
  margin: 0;
  padding: 20px;
}

.currency {
  font-weight: 550;
}

.currency.green {
  color: #2e7d32;
}

.currency.red {
  color: #c62828;
}

/* Navbar */
.header {
  box-shadow: 0 2px 8px #0000001a;
  margin-bottom: 30px;
}

.navbar {
  background: linear-gradient(to left, #e3eff0, #fdecf2);
  padding: 12px 30px;
}

.navbarlist {
  display: flex;
  justify-content: start;
  white-space: nowrap;
}

.navbarlist li a {
  display: inline-block;
  color: #4f517d;
  font-weight: 600;
  padding: 8px 2vw;
  border-radius: 8px;
  transition: all 0.25s ease;
}

.navbarlist li a:hover {
  background: #f7fcff;
  transform: translateY(-2px);
  box-shadow: 0 2px 6px #00000026;
}
