.start-row td {
  text-align: center;
  font-weight: bold;
  background-color: #e0f7fa;
}
.input__startingBalance {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
.input__startingBalance input {
  padding: 8px 15px;
}
.input__startingBalance button {
  padding: 8px 20px;
  margin-right: 50px;
}

@media (max-width: 480px) {
  .input__startingBalance {
    display: flex;
    gap: 5px;
  }
  .input__startingBalance label {
    display: none;
  }

  .input__startingBalance input {
    padding: 6px;
    font-size: 10px;
    width: 50%;
  }

  .input__startingBalance button {
    padding: 6px 10px;
    font-size: 12px;
    margin-right: 0;
  }

  .deleteRow-btn {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 10px;
  }
  .startingBalanceTable {
    display: block;
    font-size: 0.8rem;
  }
}
